<p>O Idioma da aplicação é: <%= I18n.t("messages.current_language") %> </p>

<div class="jumbotron">
  <h1 class="display-4"><%= I18n.t("messages.welcome") %></h1>
  <p class="lead"><%= I18n.t("messages.msg_rails") %></p>
  <hr class="my-4">
  <h3><%= t("register") %></h3>
  <%= render "menu"%> <br>
  <hr class="my-4">

  <p><%= cookies[:curso] %> Pegando cookies</p>

  <p> <%#= data_Br %> <%= I18n.l(Date.today)%> </p>

  <p>Você está em ambiente de: <%= ambiente %></p>

  <p>Nome: <%= @nome %> Meu curso é <%= @curso %></p> 
  <hr class="my-4">
</div>









