<p>O Idioma da aplicação é: <%= I18n.t("current_language")%> </p>

<%= I18n.t("ola") %>

<p> <%#= data_Br %> <%= I18n.l(Date.today)%> </p>


<%= render "menu"%>


<p>Você está em ambiente de: <%= ambiente %></p>

<p>Nome: <%= @nome %> Meu curso é <%= @curso %></p>

